{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ page }} {{ hashtag_post|upper }} {{ post_id }}{% endblock %}
{% block data %}
    <div style="display:none" id="data_post" hashtag_post="{{ hashtag_post }}" post_id="{{ post_id }}"
    ></div>
{% endblock data %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
{% block noidung %}
    <template v-if="api_post.result && api_post.result.length">
        <template v-for="item in api_post.result">
            <div class="baidang mb-5">
                <div class="post_thongtin">
                    <img v-if="item.avatar" :src="`/media/${item.avatar}`" class="post_avatar"
                         :alt="item.avatar" alt="">
                    <img v-else src="{% static 'user/images/avatar.png' %}" class="post_avatar"
                         alt="">
                    <div>
                        <div>
                            <a class="post_name" :href="domain+`/profile/${item.username}`">[[item.full_name]]</a>
                            <label class="post_feeling"><i
                                    class="fas fa-check-circle"></i> [[item.feeling]]</label>
                        </div>
                        <div>
                            <a class="post_time" :href="domain+`/post/${item.post_id}/`">[[item.created_at]]</a>
                            <label class="post_public"><i
                                    class="fas fa-globe-europe"> </i> [[item.public]]</label>
                        </div>
                    </div>
                    <div class="dropdown" v-if="user_id == item.user_id">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end  dropdown-menu-dark "
                            aria-labelledby="dropdownMenuButton">
                            <li @click="open_link(domain+`/post/edit/${item.post_id}/`)">Chỉnh sửa bài viết</li>
                            <li @click="delete_post(item.post_id)">Xóa bài viết này</li>
                        </ul>
                    </div>
                </div>
                <div class="post_content">[[item.content]]</div>
                <a class="post_hashtag" :href="domain+`/post/hashtag/${item.hashtag.toLowerCase()}`">
                    <i class="fas fa-hashtag"></i>[[item.hashtag]]</a>
                <img v-if="item.photo" :src="`/media/${item.photo}`" class="post_image"
                     :alt="item.photo" alt="">
                <input type="text" v-model="comment.content_input"
                       @keyup.enter="comment_func(item.post_id)"
                       class="col-12 px-4 py-2 cmt_input"
                       placeholder="Để lại bình luận của bạn">
                <div class="comment container row p-2 my-3 mx-3 col-11" v-for="key in comment.comment_show.result"
                     v-if="key.post_id == item.post_id" :key="key.comment_id">
                    <div class="col-12">
                        <a class="comment_name" :href="domain + `/profile/${ key.username}`">[[key.fullname]]</a>
                        <small class="mx-3"><i class="far fa-clock"></i> [[key.created_at]]</small>
                        <i v-if="user_id == key.user_id " @click="comment_delete_func(item.post_id,key.comment_id)"
                           class="fas fa-trash-alt remove_cmt"></i>
                    </div>
                    <div class="col-12 content_cmt">[[key.content]]</div>
                </div>
                <div class="show_cmt mt-3 mx-3 col-12" @click="comment_show_func(item.post_id)"><i
                        class="fas fa-share"></i>
                    Hiển thị bình luận
                </div>
            </div>
        </template>
        <h5 v-if="!post_id" style="color:#f5f5f5;">Hi {{ user.last_name }} ! Không còn bài viết nào khác hãy theo dõi mọi người để tiếp
            cận thêm nhiều bài viết nữa</h5>
    </template>
    <template v-else>
        <div class="user_follow">
            <h2>Không tồn tại bài viết này</h2>
        </div>
    </template>

{% endblock noidung %}

<script src="{% static 'home/javascript/bai_viet.js' %}"></script>