{% extends 'home/index.html' %}
{% load static %}
{% block title %}Đặt lại mật khẩu cho {{ email }}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
{% block content %}
    <h2 class="text-center m-5" style=" color: #f1f1f1;font-weight:bold;">Xin chào! {{ email }}</h2>
    <div class="form login_ m-auto p-3 pt-4">
        <h2>Đặt lại mật khẩu</h2>
        <form action="{% url 'home:resetpassword' key ban_ma %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="password" name="password1" @input="checkResetPassword  "
                   :class="{ do: !password.check, xanh:password.check}" class="m-4"
                   v-model="password.password1" placeholder="Mật khẩu mới" required>
            <input type="password" name="password2" @input="checkResetPassword"
                   :class="{ do: !password.check, xanh:password.check}" class="m-4"
                   v-model="password.password2" placeholder="Nhập lại mật khẩu " required>
            <button class="btn-grad" :disabled="!password.check">Xác nhận thay đổi</button>
        </form>
    </div>
    <div class="container-fluid row d-flex justify-content-around align-items-start ">

{% endblock %}

<script src="{% static 'home/javascript/login.js' %}"></script>