{% extends 'home/index.html' %}
{% block title %}Đặt lại mật khẩu cho {{ email }}{% endblock %}
{% block content %}
    <div class="login">
        <div class="form login_">
            <h2>Đặt lại mật khẩu</h2>
            <p>Xin chào! {{ email }}</p>
            <p>Hãy nhập mật khẩu mới </p>
            <form action="{% url 'home:resetpassword' key ban_ma %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="password" name="password1" @input="checkResetPassword"
                       :class="{ do: !resetPassword.checkResetPassword, xanh:resetPassword.checkResetPassword}"
                       v-model="resetPassword.password1" placeholder="Mật khẩu mới" required>
                <input type="password" name="password2" @input="checkResetPassword"
                       :class="{ do: !resetPassword.checkResetPassword, xanh:resetPassword.checkResetPassword}"
                       v-model="resetPassword.password2" placeholder="Nhập lại mật khẩu " required>
                <button class="btn-grad" @submit.prevent="checkResetPassword">Đăng Nhập</button>

            </form>
        </div>
    </div>
{% endblock %}

