{% extends 'home/base.html' %}
{% load static %}
{% block title %}Tất cả người dùng được đề xuất{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
{% block noidung %}
    <div class="user_follow">
        <h3>Tất cả người dùng</h3>
        <template v-if="api_get_all_user.result && api_get_all_user.result.length">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" v-for="user_item in api_get_all_user.result" :key="user_item.username">
                    <div class="card">
                        <img v-if="user_item.avatar" :src="`/media/${user_item.avatar}`"
                             class="avatar_boxFriend"
                             :alt="user_item.avatar">
                        <img v-else src="{% static 'user/images/avatar.png' %}"
                             class="avatar_boxFriend"
                             alt="avatar">
                        <div class="card-body text-center">
                            <a class="card-title" :href="domain + `/profile/${ user_item.username}`">
                                <h5> [[user_item.full_name]]</h5>
                            </a>
                            <a class="card-text" :href="domain + `/profile/${ user_item.username}`">
                                <p @click="open_link()"> @[[user_item.username]]</p>
                            </a>
                            <i @click="chat_box_func(user_item.id)" data-bs-toggle="modal"
                               data-bs-target="#boxchat" style="color:#3793c8;"
                               class="far fa-comment-alt mx-2"></i>
                            <template v-if="check_friend(user_item.id)">
                                <i @click="add_follow(user_item.id)" style="color:#cd2c2c;"
                                   class="fas fa-user-times"></i>
                            </template>
                            <template v-else>
                                <i @click="add_follow(user_item.id)" style="color:#33cd70;"
                                   class="fas fa-user-plus"></i>
                            </template>
                        </div>
                    </div>
                </div>

            </div>
        </template>
        <template v-else>
            <h4>Không còn ai trong danh sách này vì bạn đã theo dõi toàn  bộ người  dùng</h4>
        </template>
    </div>
{% endblock noidung %}
<script src="{% static 'home/javascript/bai_viet.js' %}"></script>